.bg-white-t {
  background-color: rgba(255, 255, 255, 0.85);
}
.bg-white-t-subtle {
  background-color: rgba(255, 255, 255, 0.7);
}

.bg-green-t {
  background-color: rgba(98, 240, 20, 0.7);
}

.bg-red-t {
  background-color: rgba(240, 19, 0, 0.5);
}
